  /* Navbar container */
  .navbar {
    background-color: white;
    overflow: hidden;
    margin-left: 260px;
    height: 50px;
    box-shadow: 1px 1px 10px silver;

  }

  /* Navbar links */
  .navbar a {
    float: left;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  /* Navbar links on hover */
  .navbar a:hover {
    background-color: #c7ccd4;
  }

  /* Active link */
  
  .logout{
   margin-left: 800px;
   color: black;
  }